.navbar-brand img {
	width: 200px;
}
#wrapper {
	padding-left: 0;
}

#page-wrapper {
	width: 100%;
	padding: 0;
	background-color: #fff;
}
.profil {
	color: red !important;
	text-decoration: underline;
}
@media (min-width: 768px) {
	#wrapper {
		padding-left: 225px;
	}

	#page-wrapper {
		padding: 22px 10px;
	}
}

/* Top Navigation */

.top-nav {
	padding: 0 50px;
}

.top-nav > li {
	display: inline-block;
	float: left;
}

.top-nav > li > a {
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: 20px;
	color: #fff;
}

.top-nav > li > a:hover, .top-nav > li > a:focus, .top-nav > .open > a, .top-nav > .open > a:hover, .top-nav > .open > a:focus {
	color: #fff;
	background-color: #1a242f;
}

.top-nav > .open > .dropdown-menu {
	float: left;
	position: absolute;
	margin-top: 0;
	/*border: 1px solid rgba(0,0,0,.15);*/
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background-color: #fff;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	width: 200px;
}

.top-nav > .open > .dropdown-menu > li > a {
	white-space: normal;
	border-top: 1px solid #aaa;
	padding: 10px;
}

/* Side Navigation */

@media (min-width: 768px) {
	.side-nav {
		position: fixed;
		top: 60px;
		left: 225px;
		width: 225px;
		margin-left: -225px;
		border: none;
		border-radius: 0;
		border-top: 1px rgba(0,0,0,.5) solid;
		overflow-y: auto;
		background-color: #222;
		/*background-color: #5A6B7D;*/
		bottom: 0;
		overflow-x: hidden;
		padding-bottom: 40px;
	}

	.side-nav > li > a {
		width: 225px;
		border-bottom: 1px rgba(0,0,0,.3) solid;
	}

	.side-nav li a:hover, .side-nav li a:focus {
		outline: none;
		background-color: #1a242f !important;
	}
}

.side-nav > li > ul {
	padding: 0;
	border-bottom: 1px rgba(0,0,0,.3) solid;
}

.side-nav > li > ul > li > a {
	display: block;
	padding: 10px 15px 10px 38px;
	text-decoration: none;
	/*color: #999;*/
	color: #fff;
}

.side-nav > li > ul > li > a:hover {
	color: #fff;
}

.navbar .nav > li > a > .label {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	top: 14px;
	right: 6px;
	font-size: 10px;
	font-weight: normal;
	min-width: 15px;
	min-height: 15px;
	line-height: 1.0em;
	text-align: center;
	padding: 2px;
}

.navbar .nav > li > a:hover > .label {
	top: 10px;
}

.navbar-brand {
	padding: 5px 15px;
}
.well {
	margin-top: 50px;
	min-height: 553px;
	padding: 19px;
	margin-bottom: 0;
	background-color: #fff;
	border: 1px solid #e3e3e3;
	border-radius: 0;
	/* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05); */
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.admin .btn {
	padding: 57px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 6px;
	margin: 0 5px;
}
.admin .btn .badge {
	padding: 15px;
}
.img-voit {
	width: 100px;
	max-height: 100px;
}
.total-price i {
	color: #8BC34A;
}
.total-price span {
	color: red;
	font-family: fantasy;
	font-size: 22px;
}
